<section id="Story">
  <img class="profile-img" src="Media/Profile.jpg" />
  <div class="profile-text">
    <h1 class="body-text">Kevin Stiles</h1>
    <h3 class="body-text">Web Developer</h3>
    <p class="body-text">Indianapolis web developer with a background in engineering, IT, and human centered design principles. Bachelors in Science from Michigan State University in Chemical Engineering with a Minor in Computer Science.</p>
  </div>


</section>
