<!DOCTYPE html>
<html>
  <head>
    <link  rel="stylesheet" type="text/css" href="/styles.css"  >
    <meta charset="utf-8">
    <title> Home Page</title>
  </head>
  <body>
    {{> navigation}}
    <section id="Story">
      <h1 class="body-text">Kevin Stiles</h1>
      <h3 class="body-text">Web Developer</h3>
      <p class="body-text">Indianapolis web developer with a background in engineering, IT, and human centered design principles. Bachelors in Science from Michigan State University in Chemical Engineering with a Minor in Computer Science.</p>
    </section>
    <section id="Bio">
      <p class="body-text">
        I am a Michigan native with a degree in Chemical Engineering from Michigan State University. During my third year in school I realized that there was something inside me that chemical engineering wasn't satisfying. A year later I joined a student organization called Design for America that attempts to solve local social problems by using a design method that focuses on inclusivity and designing for everyone. In this organization I realized what I had been hungering for during the past four years. A chance to apply creativity to the puzzles I was solving instead of plugging numbers into an equation. At this point I started working towards a minor in Computer Science, with which I graduated.
      </p>
      <p class="body-text">
        After graduation I continued my programming and design education and have started designing and developing my own web apps using the Node and React JavaScript frameworks. I have also collected a knowledge base of C++, C#, Java, and Python.
      </p>
    </section>
    <section id="Projects">
      <ul>
        <li>Youtube Reimagined</li>
        <li>Full Plate Indianapolis</li>
      </ul>
    </section>
    <section id="More">
      <h2>Follow more of my work</h2>
      <ul>
        <li>Medium</li>
        <li>GitHub</li>
        <li>CodePen</li>
      </ul>
    </section>
  </body>
</html>
